@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg: #190547;
  --bg-bottom: #6031c0;
  --size: 120;
  --unit: calc((var(--size) / 1500) * 1vmin);
  --diya-primary: #fdcf10;
  --diya-secondary: #fd5408;
  --diya-decoration: white;
  --flame-primary: #fdf7dc;
  --flame-secondary: #fdcf10;
  --flame-aura: #fdcf10;
  --shadow-color: 2, 2, 2;
}

body {
  background-color: #5b37eb;
  padding: 1% 4%;
}

@font-face {
  font-family: "SAMAN__";
  src: url("./SAMAN__.TTF") format("TrueType");
}

.diyas-container {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 30px; /* Adjust the gap as needed */
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  /* opacity: 0.5; */
  display: none;
}

img,
.container {
  height: calc(var(--unit) * 600);
  width: calc(var(--unit) * 800);
}

.background {
  width: 100%;
  height: 0%;
  border-radius: 0 0 20% 20%;
}

.star {
  background-color: white;
  height: calc(var(--unit) * 30);
  width: calc(var(--unit) * 30);
  position: absolute;

  clip-path: polygon(
    50% 0,
    55% 45%,
    100% 50%,
    55% 55%,
    50% 100%,
    45% 55%,
    0% 50%,
    45% 45%
  );
  animation: twinkle 2s infinite ease-in-out;
}

.star--1 {
  transform: rotateZ(10deg);
  top: 30%;
  left: 30%;
  animation-delay: 1.2s;
  animation-duration: 3s;
}

.star--2 {
  transform: rotateZ(30deg);
  top: 50%;
  left: 70%;
  animation-delay: 1.5s;
  animation-duration: 5s;
}

.star--3 {
  transform: rotateZ(10deg);
  top: 20%;
  left: 60%;
}

.diya {
  height: 65%;
  width: 80%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diya2 {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.base {
  height: 26%;
  width: 63%;
  position: absolute;
  top: 77.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.base__part--top {
  height: 31%;
  width: 100%;
  background-color: var(--diya-secondary);
  border-radius: 100%;
}

.base__part--bottom {
  width: 100%;
  height: 83%;
  background-color: var(--diya-primary);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  z-index: -1;
  overflow: hidden;
}

.base__decoration {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 26%;
  background-color: var(--diya-secondary);
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: calc(var(--unit) * 20) calc(var(--unit) * 20);
  background-position: 0 0, calc(var(--unit) * 5) calc(var(--unit) * 5);
  transform: skewY(5deg);
}

.base__decoration--right {
  right: 0;
  transform: rotateY(180deg) skewY(5deg);
}

.flame {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 73%;
  width: 100%;
  /* display: none; */
}

.flame__fire--outer {
  height: 40%;
  width: 40%;
  bottom: 8%;
  background-color: var(--flame-primary);
  border-radius: 2% 100% 0 100%;
}

.flame__fire--inner {
  height: 20%;
  width: 20%;
  bottom: 4%;
  background-color: var(--flame-secondary);
  border-radius: 10% 100% 0 100%;
}

.flame__fire--outer2 {
  height: 40%;
  width: 30%;
  bottom: 10%;
  background-color: var(--flame-primary);
  border-radius: 2% 100% 0 100%;
}

.flame__fire--inner2 {
  height: 20%;
  width: 15%;
  bottom: 6%;
  background-color: var(--flame-secondary);
  border-radius: 10% 100% 0 100%;
}

.flame__fire {
  transform: translate(-50%, 0) rotate(45deg);
  position: absolute;
  left: 50%;
}

.flame__shadow {
  border-radius: 100%;
  background-color: var(--flame-aura);
  opacity: 0.1;
  position: absolute;
}

.flame__shadow--big {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation: flame-grow 2s infinite ease-in-out;
}

.flame__shadow--sm1 {
  height: 34%;
  width: 34%;
  top: 48%;
  left: 16%;
  animation: aura-glow 2s infinite ease-in-out;
}

.flame__shadow--sm2 {
  height: 34%;
  width: 34%;
  top: 40%;
  left: 40%;
  animation: aura-glow 2s 1.2s infinite ease-in-out;
}

.flame__shadow--sm3 {
  height: 34%;
  width: 34%;
  top: 60%;
  left: 39%;
  animation: aura-glow 1.8s 1.8s infinite ease-in-out;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.shadow {
  position: absolute;
  left: 50%;
  top: 95%;
  height: 9%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.shadow__flame,
.shadow__diya {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  border-radius: 100%;
}

.shadow__diya {
  background-color: rgba(var(--shadow-color), 0.4);
  height: 43%;
  width: 70%;
}

.shadow__flame {
  background-color: rgba(var(--shadow-color), 0.2);
  height: 85%;
  width: 100%;
  animation: flame-grow 2s infinite ease-in-out;
}

@keyframes aura-glow {
  50% {
    opacity: 0.3;
  }
}

@keyframes flame-grow {
  50% {
    width: calc(100% - var(--unit) * 10);
    height: calc(100% - var(--unit) * 10);
  }
}

@keyframes twinkle {
  50% {
    width: 0;
    height: 0;
    transform: rotateZ(180deg);
  }
}

.eventDetails {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventHeading {
  font-size: 100px;
  text-align: center;
}

#flame1 {
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 2s ease; /* Smooth transition */
}

#stars1{
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 4s ease; /* Smooth transition */
}


#flame2 {
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 2s ease; /* Smooth transition */
}

#stars2{
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 4s ease; /* Smooth transition */
}

#flame3 {
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 2s ease; /* Smooth transition */
}

#stars3{
  opacity: 0; /* Start with opacity 0 to hide the div */
  transition: opacity 4s ease; /* Smooth transition */
}


.hidden {
  display: none; /* Hide the div completely when opacity is 0 */
}


.hide{
  display: none !important;
}

.completedscreen{
  display: flex;
  flex-direction: row;
}
.leftdivlampmsg{
  width: 40%;
  height: 40%;
}
.maindivcont{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.eventdivleft{
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:20px;
  justify-content: center;
}
.eventdivright{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:20px;
  justify-content: center;
}
.diyacomplete {
  height: 40%;
  width: 80%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diyas-container-complete{

  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap as needed */
  height: 40vh;
}
.containerlo{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.messagesdiv{
  width: 80%;
  display: flex;
  height: 100px;
  flex-direction: row;
  gap:20px;
  padding:0% 5%;
}
.message{
  color: white;
  width: 33%;
}
.quote{
  color: white;
  font-size: 2rem;
}
.eventCreate{
  height: 30%;
}
.eventWitness{
  height: 40%;
}
.eventWitnessComplete{
  height: 20%;
}
.eventcard1{
  background-color: rgb(66, 66, 66);
border-radius: 15px; /* Rounded borders */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 100%;
height: 100px;
margin: 10px;
padding: 5px;
overflow: scroll;
line-break: anywhere;
color: whitesmoke;
transition: transform 0.3s ease;
}

.eventcard2{
  background-color: rgb(66, 66, 66);
border-radius: 15px; /* Rounded borders */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 100%;
height: 300px;
margin: 10px;
padding: 5px;
overflow: scroll;
line-break: anywhere;
color: whitesmoke;
transition: transform 0.3s ease;
}
.card4{
  background-color: rgb(66, 66, 66);
  border-radius: 15px; /* Rounded borders */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 130px;
  margin: 5px;
  overflow: scroll;
  padding: 8px;
  transition: transform 0.3s ease;
  color: whitesmoke;
  }

.card{
background-color: rgb(66, 66, 66);
border-radius: 15px; /* Rounded borders */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 100%;
height: 90%;
margin: 10px;
color: whitesmoke;
transition: transform 0.3s ease;
}
pre{
  font-family: monospace;
  white-space: pre-wrap;
  padding: 3px;
}
@media screen and (max-width: 768px) {
  .container2 {
    display: none;
  }
  .diya {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flame__fire--outer {
    height: 45%;
    width: 30%;
    bottom: 8%;
    background-color: var(--flame-primary);
    border-radius: 2% 100% 0 100%;
  }

  .flame__fire--inner {
    height: 25%;
    width: 15%;
    bottom: 4%;
    background-color: var(--flame-secondary);
    border-radius: 10% 100% 0 100%;
  }

  .eventHeading {
    font-size: 50px;
  }
  .containermiddle {
    height: calc(var(--unit) * 400);
    width: calc(var(--unit) * 400);
  }
  .leftdivlampmsg{
    width: 100%;
  }
  .rightdiv{
    width: 100%;
    height: 500px;
  }
  .completedscreen{
    flex-direction: column !important;
  }
}